body {
  background-color: #000;
}

.navbar {
  background-color: #393e46;
}
.nav-link:hover {
  color: #583d72;
}

.nav-item {
  font-size: 85%;
  font-family: "Spartan", sans-serif;
}

.nav-item > .btn-default {
  background-color: #c70039;
  border-radius: 5%;
  font-size: 85%;
  font-family: "Spartan", sans-serif;
}

.fas {
  padding-left: 3%;
  color: #a89da0;
}

.fas:hover {
  color: #dedae2;
}
.bank-name {
  font-family: "Almendra", serif;
  font-size: 3vh;
  color: #a89da0;
  padding-top: 1%;
}

.bank-name:hover {
  color: #dedae2;
}

.row {
  height: 100vh;
  background-image: url("../images/money.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.row > .box {
  height: 40vh;
  width: 50vw;

  background-color: #eee9f0e5;
  /* padding-top: 5%; */
  margin-bottom: 40%;
  margin-top: -15%;
  /* direction: rtl; */

  /* margin-right: 50%; */
  padding-right: 10%;
  display: flex;
  flex: right;
  justify-content: flex-end;
}

.box {
  width: 500px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #191919;
  text-align: center;
  transition: 0.25s;
  margin-top: 100px;
}

.row > .box > .jumbotron {
  /* height: 50vh; */

  margin-bottom: 40%;
}

.row > .box > .jumbotron > .jumbotron-heading {
  font-family: "Spartan", sans-serif;
  font-size: 2rem;
  padding-bottom: 10%;
  color: #ce1348;
}

.row > .box > .jumbotron > .jumbotron-paragragh {
  color: rgb(98, 96, 96);
  font-family: "Spartan", sans-serif;
  font-size: 0.95rem;
  padding-bottom: 6%;
}

.jumbotron-paragragh :hover {
  color: rgb(17, 17, 17);
  padding-bottom: 6%;
}

.btn-default {
  width: 5vw;
  height: 5vh;
  padding-top: 3%;
  padding-left: 3%;
  color: #ffff;
}
.btn-default:hover {
  color: #000;
}

.cards {
  margin-left: 20%;
  margin-top: 5%;
  position: relative;
  z-index: 1;
  justify-content: space-between;
}

/* .card .card-block{
  ma
} */
.card {
  margin-right: 8%;
  margin-left: 2%;
}
.card:hover {
  color: #97939e;
}
.card-body {
  border: solid #b64061;
}
