body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to right, #b92b27, #1565c0);
}

.boxsize {
  width: 45%;
  margin: 8% 20% 0 30%;
  padding: 3% 3% 5% 3%;
  border-radius: 3%;
  background-color: #383737;
}

.head-form {
  margin-bottom: 3%;
  padding-left: 35%;
  text-decoration: solid;
  color: rgb(229, 246, 246);
  text-shadow: antiquewhite;
  font-size: 1.75rem;
}

label {
  color: rgb(229, 246, 246);
  font-size: 1rem;
}

.apply-btn {
  width: 25%;
  padding: 1% 3% 1% 3%;
  margin: 8% 20% 0 38%;
  font-size: 1.5rem;
  text-indent: 0.5%;
  border-radius: 3%;
  font-family: "Poppins", sans-serif;
  color: rgb(229, 246, 246);
  font-weight: 300;
  background-color: #c70039;
}
.apply-btn:hover {
  color: #000000;
  background-color: #eb1250;
}
